# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and temporary files
*.log
forensic_log.txt

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
